.nav__list {
  display: flex;
  align-items: center;
  @include tablets {
    display: none;
  }
}
  
.nav__item {
  margin-right: 60px;
  
  &:last-child {
    margin-right: 0;
  }
}

.nav__link{
  text-decoration: none;
  &:hover {
    color: #c5f5d5;
  }
}