.socials__close {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .socials__item-close {
    margin-right: 40px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .socials__icon-close {
    width: 28px;
    height: 31px;
    display: block;
    fill: rgb(70, 77, 98);
  
    &:hover {
      fill: #c5f5d5;
    }
  }