.socials {
  display: flex;
  align-items: center;
  @include phones {
    display: none;
  }
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 28px;
  height: 31px;
  display: block;
  fill: rgb(70, 77, 98);

  &:hover {
    fill: #c5f5d5;
  }
}