  
.triangles {
  display: flex;
  margin-top: -39px;
  color: #fff;
}
  
.triangles__item {
  width: 50%;
  display: block;
  height: 100px;
  fill: currentColor;
}

.triangle__down {
  width: 100%;
  height: 50%;
  background-color: #fff;
  @include retina {
    height: 70%;
  }
}