.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.user__avatar {
  margin-bottom: 20px;
  background: red;
}

.user-info {
  display: flex;
  flex-direction: row;
}

.user-info__username {
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 800;
  margin: 0 0;
  flex: 2;
}

.user-info__desc {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  opacity: .5;
  text-align: end;
  margin-right: 50px;
}

.user-info__title {
  padding-top: 5%;
}