script(type="text/x-template")#slider-reviews
    .aboutme__title Что обо мне говорят
        buttons(

        )
        content()

script(type="text/x-template")#slider-buttons
    .button.slider-butn
        .arrow-left
            .button.slider-butn
                .arrow-right
    

script(type="text/x-template")#slider-content
    .reviews__content
        ul.reviews__content-list
            li.reviews__content-item
    //- +icon('quote', "reviews__icon")
    //- .reviews__left
    //-     .reviews__text Этот парень проходил обучение вэб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессоных ночей!
    //-     .reviews__author
    //-     +image("content/dmitry.jpg", "author__pic")
    //-     .reviews__title
    //-         .reviews__name Ковальчук Дмитрий
    //-         .reviews__status Основатель LoftSchool 
    //- +icon('quote', "reviews__icon")
    //- .reviews__right
    //-     .reviews__text Это код выдержит любые испытания. Только пожайлуста, не загружайте сайт на слишком старых браузерах.
    //-     .reviews__author
    //-     +image("content/vladimir.jpg", "author__pic")
    //-     .reviews__title
    //-         .reviews__name Владимир Сабанцев
    //-         .reviews__status Преподаватель
