script(type="text/x-template")#reviews
    .reviews
        .reviews__header
            .reviews__title Что говорят обо мне
            .reviews__buttons
                button(type="button").reviews__butn.reviews__butn_prev
                button(type="button").reviews__butn.reviews__butn_next
        .reviews__content
            swiper.reviews__content-wrapper(:options="swiperOptions" ref="mySwiper")
                swiper-slide.reviews__content-item(v-for="review in reviews")
                    .quote
                        .quote__text
                            p {{review.text}}
                        .quote__user
                            .user-min
                                .user-min__avatar
                                    .user-min__pic-wrapper
                                        img(:src="review['author-pic']").user-min__avatar-pic
                                .user-min__info
                                    .user-min__name {{review['author-name']}}
                                    .user-min__occ {{review['author-occ']}}  
