script(type="text/x-template")#skills-list
    ul.user-skills
        li.user-skills__item.skills-row(v-for="skill in skills" :key="skill.skillsGroup")
            skill-row(
                :skill="skill"
            )

script(type="text/x-template")#skills-row
    .div
        h3.skills-row__title {{skill.skillsGroup}}
        ul.skills-row__list
            li.skills-row__item(v-for="(skillPercent, skillName) in skill.skills")
                skill(
                    :skill-name="skillName"
                    :skill-percent="skillPercent"
                )

script(type="text/x-template")#skill
    .skill
        svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__shape
            -var r = 40
            circle(cx="50" cy="50" r=r).skill__circle.skill__circle_under
            circle(cx="50" cy="50" r=r ref="color-circle").skill__circle.skill__circle_above
            linearGradient(id="gradient" x1="0" y1="0" x2="100%" y2="100%")
                stop(offset="0%" stop-color="#00f" )
                stop(offset="100%" stop-color="darkviolet")
        .skill__title {{skillName}}